{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
{% include 'accounts/head.html' %}
<body>
	<script>
		{% for m in messages  %}
		{% if 'success' in m.tags %}
		Swal.fire({
		  position: 'center',
		  icon: 'success',
		  title: '{{m}}',
		  showConfirmButton: false,
		  timer: 1500
		})
		{% endif %}
		{% endfor %}
		</script>
		<script>
		  {% for m in messages  %}
		  {% if 'error' in m.tags %}
		  Swal.fire({
			position: 'center',
			icon: 'error',
			title: '{{m}}',
			showConfirmButton: false,
			timer: 1500
		  })
		  {% endif %}
		  {% endfor %}
		  </script>
	<div class="wrapper">
		{% include "accounts/sidebar.html" %}

		<div class="main">
			{% include "accounts/topbar.html" %}
			<main class="content">
				<div class="container-fluid p-0">

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">Shop Drivers Request Payouts</h5>
                                    <div class="text-end">
                                        <a href="{% url 'myshop_details' slug=slug %}" class="btn btn-primary">Back</a>
                                    </div>
								</div>
								<div class="card-body">
                                    <div class="table-responsive">
                                        <table id="printables" class="display" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>*</th>
                                                    <th>References</th>
                                                    <th>Name Driver</th>
													<th>Unit Drived</th>
													<th>Hrs</th>
                                                    <th>Amount</th>
													<th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for list in list_payout %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{list.rent_id}}</td>
                                                    <td>{{list.driver_shp.account.fname}} {{list.driver_shp.account.lname}}</td>
                                                    <td>{{list.unit_rented.model_car}} {{list.unit_rented.categories}} ({{list.unit_rented.plate}})</td>
                                                    <td>{{list.total_hrs}}hrs</td>
                                                    <td>₱{{ list.driver_fee_total|floatformat:2|intcomma }}</td>
                                                    <td>{{list.drivers_approval}}</td>
                                                    <td>
                                                        <a href="{% url 'driver_released_requests' pk=list.id %}" class="btn btn-sm btn-danger">Payment approved</a>
                                                    </td>
                                                </tr>     
                                                {% endfor %}
												                  
                                            </tbody>                     
                                        </table>
                                    </div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>
{% include 'accounts/footer.html' %}