{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
{% include 'accounts/head.html' %}
<body>
	<script>
		{% for m in messages  %}
		{% if 'success' in m.tags %}
		Swal.fire({
		  position: 'center',
		  icon: 'success',
		  title: '{{m}}',
		  showConfirmButton: false,
		  timer: 1500
		})
		{% endif %}
		{% endfor %}
		</script>
		<script>
		  {% for m in messages  %}
		  {% if 'error' in m.tags %}
		  Swal.fire({
			position: 'center',
			icon: 'error',
			title: '{{m}}',
			showConfirmButton: false,
			timer: 1500
		  })
		  {% endif %}
		  {% endfor %}
		  </script>
	<div class="wrapper">
		{% include "accounts/sidebar.html" %}

		<div class="main">
			{% include "accounts/topbar.html" %}
			<main class="content">
				<div class="container-fluid p-0">
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h3 class="">Report Issues of {{rent_details.rent_id}}</h3>
									<p class="mb-0">Renter Details : {{rent_details.renters.fname}} {{rent_details.renters.lname}}</p>
									{% if rent_details.driver_shp_id is not NULL %}
										<p class="mb-0">Driver Details : {{rent_details.driver_shp.account.fname}} {{rent_details.driver_shp.account.lname}}</p>
									{% endif %}
									<p>Total Penalty Amount : ₱ {{ total|floatformat:2|intcomma }}</p>
									
								</div>
								<div class="card-body">
                                    <div class="row">
										<div class="col-sm-6">
											<form action="" method="post">
												{% csrf_token %}
												<div class="row">
													<div class="col-sm-6">
														<label for="">Issue</label>
														{{form.issue_name}}
													</div>
													<div class="col-sm-6">
														<label for="">Penalty</label>
														{{form.issue_amount}}
													</div>
													<div class="col-sm-12">
														<label for="">Description</label>
														{{form.issue_details}}
													</div>
													<div class="col-sm-4 mt-3">
														<button type="submit" class="btn btn-primary">Submit</button>
														<a href="{% url 'rent_details_shop' rentid=rent_details.rent_id %}" class="btn btn-secondary">Back</a>
													</div>
												</div>
											</form>
										</div>
										<div class="col-sm-6">
											<div class="table-responsive mt-3">
												<table id="printables" class="display" style="width:100%">
													<thead>
														<tr class="">
															<th class="text-center">Issue</th>
															<th class="text-center">Amount</th>
															<th class="text-start">Actions</th>
														</tr>
													</thead>
													<tbody>
														{% for issue in list_issue %}
														<tr>
															<td class="text-center">{{issue.issue_name}}</td>
															<td class="text-center">₱ {{ issue.issue_amount|floatformat:2|intcomma }}</td>
															<td>
																<a href="" class="btn btn-secondary">view</a>
																<a href="{% url 'report_issues_deleted' pk=issue.id %}" class="btn btn-danger">delete</a>
															</td>
														</tr>     	
														{% endfor %}
														            
													</tbody>                     
												</table>
										</div>
										<a href="{% url 'all_report_issues_deleted' pk=rent_details.id %}" class="btn btn-danger">Damages Paid</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>
{% include 'accounts/footer.html' %}