{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
{% include 'accounts/head.html' %}
<body>
	<script>
		{% for m in messages  %}
		{% if 'success' in m.tags %}
		Swal.fire({
		  position: 'center',
		  icon: 'success',
		  title: '{{m}}',
		  showConfirmButton: false,
		  timer: 1500
		})
		{% endif %}
		{% endfor %}
		</script>
		<script>
		  {% for m in messages  %}
		  {% if 'error' in m.tags %}
		  Swal.fire({
			position: 'center',
			icon: 'error',
			title: '{{m}}',
			showConfirmButton: false,
			timer: 1500
		  })
		  {% endif %}
		  {% endfor %}
		  </script>
	<div class="wrapper">
		{% include "accounts/sidebar.html" %}

		<div class="main">
			{% include "accounts/topbar.html" %}
			<main class="content">
				<div class="container-fluid p-0">
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">Appointment Details</h5>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-sm-4 mb-5">
											<div id="carouselExample" class="carousel slide">
												<div class="carousel-inner">
												  <div class="carousel-item active">
													<img src="{{appointment_details.unit_rented.img1.url}}" class="d-block w-100" alt="...">
												  </div>
												  <div class="carousel-item">
													<img src="{{appointment_details.unit_rented.img2.url}}" class="d-block w-100" alt="...">
												  </div>
												  <div class="carousel-item">
													<img src="{{appointment_details.unit_rented.img3.url}}" class="d-block w-100" alt="...">
												  </div>
												  <div class="carousel-item">
													<img src="{{appointment_details.unit_rented.img4.url}}" class="d-block w-100" alt="...">
												  </div>
												  <div class="carousel-item">
													<img src="{{appointment_details.unit_rented.img5.url}}" class="d-block w-100" alt="...">
												  </div>
												</div>
												<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
												  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
												  <span class="visually-hidden">Previous</span>
												</button>
												<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
												  <span class="carousel-control-next-icon" aria-hidden="true"></span>
												  <span class="visually-hidden">Next</span>
												</button>
											  </div>
										</div>
										<div class="col-sm-8">
											<div class="table-responsive">
												<table class="table">
													<thead>
													  <tr>
														<th scope="col" colspan="4">Unit Details</th>
													  </tr>
													</thead>
													<tbody>
													  <tr>
														<td>{{appointment_details.unit_rented.model_car}} {{appointment_details.unit_rented.categories}}</td>
														<td>{{appointment_details.unit_rented.vehicle_type}}</td>
														<td>{{appointment_details.unit_rented.fuels}}</td>
														<td>{{appointment_details.unit_rented.transmission}}</td>
													  </tr>
													  <tr>
														<td>{{appointment_details.unit_rented.plate}}</td>
														<td>{{appointment_details.unit_rented.color_description}}</td>
														<td>{{appointment_details.unit_rented.chasis_number}}</td>
														<td>{{appointment_details.unit_rented.vin_no}}</td>
													  </tr>
													</tbody>
												  </table>

												  <table class="table">
													<thead>
													  <tr>
														<th scope="col" colspan="4">Appointment Details</th>
													  </tr>
													</thead>
													<tbody>
													  <tr>
														<td colspan="3">{{appointment_details.pick_up_unit}} - {{appointment_details.return_unit}} ({{appointment_details.total_hrs}})hrs</td>
														<td>₱{{ appointment_details.driver_fee_total|floatformat:2|intcomma }}</td>
													  </tr>
													  <tr>
														<td colspan="4">Driver Status : {{appointment_details.drivers_approval}}</td>
													  </tr>
													</tbody>
												  </table>
											</div>
											
											{% if appointment_details.drivers_approval == "approved" %}
												{% if appointment_details.status == "approved" %}
													<a href="{% url 'cancel_driver_appointment' pk=appointment_details.id %}" class="btn btn-dark">Cancel</a> <a href="{% url 'mydrivingshops' %}" class="btn btn-secondary">Back</a>
													{% else %}
													<a href="{% url 'mydrivingshops' %}" class="btn btn-secondary">Back</a>
												{% endif %}

											{% elif appointment_details.drivers_approval == "cancelled" %}
											<a href="{% url 'mydrivingshops' %}" class="btn btn-secondary">Back</a>
											{% else %}
											
												{% if appointment_details.drivers_approval == "denied" or appointment_details.drivers_approval == "payout" or appointment_details.drivers_approval == "released"  %}
													<a href="{% url 'mydrivingshops' %}" class="btn btn-secondary">Back</a>
													{% else %}
													<a href="{% url 'approve_driver_appointment' pk=appointment_details.id %}" class="btn btn-danger">Approve</a> <a href="{% url 'denied_driver_appointment' pk=appointment_details.id %}" class="btn btn-dark">Denied</a>
												{% endif %}
													
											
											{% endif %}
											
												
											
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>
{% include 'accounts/footer.html' %}