{% extends 'public/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<style>
    .card{
        border:none;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }
</style>
    <!-- Service Start -->
    <div class="container-xxl service py-5">
        <div class="container">
            <div class="text-start wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-primary text-uppercase">Password</h6>
                <h1 class="mb-5">Reset Password</h1>
            </div>
            <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-4">password reset succesfully.</p>
                        <p class="text-secondary">Go back to <a class="btn btn-primary" href="{% url 'home' %}">Home</a></p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    
    {% endblock content %}